.calendar {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
}

.day {
  width: 35px; 
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  .empty-day {
    visibility: hidden;
  }
  .unavailable {
    background-color: #dc3545; 
    color: white;
    border-radius: 5px;
  }
  
  .available {
    background-color: #28a745; 
    color: white;
    border-radius: 5px;
  }
  
  .disabled {
    background-color: #f7f7f7; 
    color: rgb(216, 216, 216); 
    cursor: not-allowed;
  }