@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    border-radius: 12px;
    background: rgb(79 70 229);
    color: white;
}

a.active:hover{
    color: white;
}

button.carousel{
    display: flex;
    align-items: center;
}

.carousel .height{
    height: 28rem;
}
